<a href="https://colab.research.google.com/github/py13taehun/py13/blob/master/mid_exam_py13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬활용 중간고사 풀이

### 문제1.다음 식의 연산 결과는?

In [0]:
        a = 5
        b = 3
        a**b

In [0]:
5**3은 5의 세제곱을 나타내는 코드이기 때문에 답은 125입니다.

### 문제2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는? a="Life is too short, You need python!"

In [0]:
a = "Life is too short,you need Python!"
a[-16:-8] 

# -16은 Y부터를 나타내고 있고, -8은 d까지를 나타내고 있습니다. 그래서 "You need"가 결과로 나옵니다.

### 문제3. 다음 list a의 인덱싱 결과는?

In [0]:
a = [1, 2, (3, 4),['a', 'b',['My','Life', 'Good']]]
a[3][-1][0] 
# a[3]은 ['a', 'b',['My','Life', 'Good']]]를 나타냅니다.
# a[-1]은 뒤에서부터 세서 ['My','Life', 'Good']입니다.
# a[0]은 'My'를 나타냅니다.
# 따라서 답은 'My'입니다.

### 문제4. 다음 tuple t1의 슬라이싱 결과는?

In [0]:
t1 = (0, 1, "s", "t", "u")
t1[2:-2] 
# 슬라이싱을 하게 되면 결과가 ('s',)로 나옵니다. 그러나 튜플은 한 개의 요소만 가질경우 콤마(,)를 붙여야 하기 때문입니다.

### 문제5. 다음 bool 값 출력 중 정확한 것은?

In [0]:
bool([0,1,2]),bool([0]), bool((0)), bool((0,))
# 첫번째와 두번째는 []안에 값이 들어있기 때문에 참 이고, 세번째는 ()안에 빈 문자열이기 때문에 거짓 이고,
# 마지막은 0,가 있어서 빈 문자열이 아니므로 참이 나옵니다.

### 문제6. 다음 조건문을 1줄 코드로 변경하시오.

In [0]:
score = 80
if score>= 60:
  message = "success"
else:
  message = "failure"
# 파이썬의 조건부 표현식을 사용하면 1줄 코드로 바꿀 수 있습니다.
# message = "success" if score>=60 else "failure"

### 문제7. 다음 코드의 실행 결과는?

In [0]:
games = ["A", "B", "C"]

for cnt in range(len(games)):
  print(cnt, games[cnt], end=',')
  # games의 길이를 숫자로 cnt에 대입합니다.
  # cnt숫자 0부터 2 까지를 출력하는 사이에 "games"문자를 넣어주고 "end"에는 ','를 붙여야 합니다

### 문제8. 다음의 결과가 출력되지 않은 것은? 'I ate 10 apples, so I was sick for three days.'

In [0]:
# code start
number= 10
day= "three"
#"I ate {0} apples. so I was sick for {1} days", format(10, day) 
#f"I ate {number} apples. so I was sick for {day} days."
#f"I ate {number} apples. so I was sick for {'three'} days."
#"I ate {0} apples. so I was sick for {1} days.", format(number=10, day) format 함수의 입력값이 number만 설정 되어 있어서 오류가 납니다.

### 문제9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.

In [0]:
sum([num for num in range(1,1001) if num % 5 ==0])
#1 부터 1000까지 범위 안이고, num % 5 == 0 : 5로 나눈 나머지가 0이면 5의 배수입니다.

### 문제10. 4개 과목의 평균 성적을 구하시오. [a],[b]에 적합한 코드는?

In [0]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in zip(subjects, scores):
  total += score
  print(subject, score)

print("평균점수 = (0)", format(total/len(subjects)))
#python 88
#english 77
#math 66
#science 95
#따라서 평균점수 = (0) 81.5